@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Rubik+Bubbles&display=swap");
.mainContainer {
  display: block;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
