.container {
  width: 350px;
  min-width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-irish);
  justify-content: space-around;
  min-height: 80vh;
  box-shadow: -5px 0 12px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  position: relative;
}

.basket {
  position: relative;
  top: 5px;
}

.items {
  width: 90%;
  height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-x: hidden;
  position: relative;
}

.emptyBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyBasket img {
  width: 50px;
}

.emptyBasket h2 {
  font-size: 15px;
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

.confirm {
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 70%;
  font-family: var(--font-irish);
  font-size: 20px;
  margin: 10px 0;
}

.totalValue {
  font-family: var(--font-irish);
  font-size: 20px;
  font-weight: 700;
}
