.container{
  min-width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-irish);
  justify-content: space-around;  
  height: 80vh;
  box-shadow: -5px 0 12px rgba(0,0,0,0.1);
}

.basket{
  position: absolute;
  top: 20px;
}

.emptyBasket{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyBasket img{
  width: 50px;
} 

.emptyBasket h2{
  font-size: 15px;
}