.container{
  width: 80%;
  margin: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addToCart{
  position: absolute;
  border-radius: 50%;
}