.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 90vh;
}

.cartContainer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 70vh;
  background-color: var(--color-grey);
  border-radius: 20px;
  flex-direction: column;
  overflow-y: scroll;
  max-width: 500px;
  gap: 10px;
}

.confirm {
  background-color: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
  font-family: var(--font-irish);
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 50%;
}

.totalValue {
  font-family: var(--font-irish);
  font-size: 20px;
  font-weight: 700;
}
