.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 90vh;
}

.cartContainer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 70vh;
  background-color: var(--color-grey);
  border-radius: 20px;
  flex-direction: column;
}
